<section class="section section-popular scrollspy" id="popular">
  <div class="container">
    <div class="row">
      <h4 class="center"><span class="teal-text">Popular</span> Animals</h4>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="../assets/img/pet1.jpg" alt="" />
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo,
            commodi
          </div>

          <div class="card-action">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1"
              >Click for More Info</a
            >
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>Loveable Animals!</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                  adipisci excepturi expedita ad deserunt nam laborum, dolores
                  delectus autem et?
                </p>
              </div>
              <div class="modal-footer">
                <a
                  href="#!"
                  class="modal-close waves-effect waves-green btn-flat"
                  >Ok</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="../assets/img/pet2.jpg" alt="" />
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo,
            commodi
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="../assets/img/pet3.jpg" alt="" />
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo,
            commodi
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <app-mob-parts></app-mob-parts>
    </div>
    <div class="row">
      <app-books></app-books>
    </div>
    <div class="row">
      <app-bikes></app-bikes>
    </div>
    <div class="row">
      <app-watches></app-watches>
    </div>
  </div>
</section>
